<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
   <h1>Create a Basketball Team!</h1>
   <h4>Team Name: <input type="text" name="name" value=""></h4>
   <h4>Coach: <input type="text" name="coach" value=""></h4>
   <h4>Point Guard: <input type="text" name="pg" value=""></h4>
   <h4>Shooting Guard: <input type="text" name="sg" value=""></h4>
   <h4>Small Forward: <input type="text" name="sf" value=""></h4>
   <h4>Power Forward: <input type="text" name="pf" value=""></h4>
   <h4>Center: <input type="text" name="c" value=""></h4>
   <input type="submit" id="Submit">
   </form>
 </body>
</html>
